<!DOCTYPE html>
<html>
<head>
  <title>Fbapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<li class="dropdown dropdown-user">
  <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#">
    <img src="" class="img-circle" alt="">
					<span class="username">
					<%= current_user.email.split("@")[0] %> </span>
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <!--<a href="login.html">-->
      <!--<i class="icon-key"></i> Log Out </a>-->
    </li>
  </ul>
</li>
    <% end %>


<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
